<%% content_for :header do %>
  <%%= javascript_include_tag 'lightwindow' %>
  <%%= stylesheet_link_tag 'lightwindow' %>
<%% end -%>

<h1><%%= @<%= singular_name %>.new_record? ? 'New' : 'Editing' %> <%= singular_name %></h1>

<%% form_for([:admin, @<%= singular_name %>]) do |f| %>
  <%%= f.error_messages %>
  
  <p>
    <%%= f.label :title %><br/>
    <%%= f.text_field :title, :class => 'title' %>
  </p>

<% for attribute in attributes.reject{ |a| ['title', 'published_at', 'published_to', 'permalink' ].include?(a.name) } -%>
  <p>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<% end -%>

  <%%= publish_select(f) %>

  <p class="submission">
    <%%= preview_link(@<%= singular_name %>) %>
    <%%= f.submit 'Publish', :name => '<%= singular_name %>[publish]' %>
    <%%= f.submit 'Save as draft', :name => '<%= singular_name %>[hide]' %>
    or <%%= link_to 'Back', admin_<%= plural_name %>_path %>
  </p>
<%% end %>