<fieldset>
  <legend>Publishing Options</legend>
  <p>
    <%= f.label :published_at, "Publish at" %><br/>
    <%= check_box_tag 'published_at', true, params[:published_at], :onclick => 'toggle_published_at(this.checked)', :id => 'live-from' %>
    <span id="published_at"><%= f.datetime_select :published_at, :disabled => params[:published_at] ? nil : 'disabled'  %></span>
  </p>

  <p>
    <%= f.label :published_to, "Publish till" %><br/>  
    <%= check_box_tag 'published_to', true, params[:published_to], :onclick => 'toggle_published_to(this.checked)', :id => 'live-to' %>
    <span id="published_to"><%= f.datetime_select :published_to, :disabled => params[:published_to] ? nil : 'disabled'  %></span>
  </p>
</fieldset>